{% load static %}
<footer id="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-3 separadorderecha">
          <img style="width: 220px;
                      height: auto;
                      margin: auto"
               class="img-responsive logofooter"
               src="{% static 'assets/img/logo-footer.png' %}"
               alt="" />
        </div>
        <div style="height: 195px" class="col-md-3 separadorderecha">
          <div class="contendire">
            <span> ´Chile esq. Avda. Ygatimi
              <br>
              Asunción - Paraguay
              <br>
              Teléfono: 021 - 415 6000
              <br>
              comunicaciones@ministeriopublico.gov.py
            </span>
          </div>
        </div>
        <div style="height: 195px" class="col-md-3 separadorderecha">
          <div style="text-align: center" class="contendire">
            <a target="_blank"
               href="https://www.google.com/search?q=ministerio+publico&npsic=0&rflfq=1&rlha=0&rllag=-25295139,-57622088,2052&tbm=lcl&ved=2ahUKEwjpq-_0q7ngAhWFZt4KHZhUA5oQtgN6BAgBEAQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc=1#rlfi=hd:;si:13283331963581911183;mv:!1m2!1d-25.253546699999998!2d-57.480196799999995!2m2!1d-25.3168693!2d-57.6528641"><i style="font-size: 8rem;
          text-align: center;
          color: #9c1a3b"
   class="fa fa-map-marker"></i></a>
            <br />
            <span style="text-align: center"><b>Mapa de Ubicación</b></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="contendire">
            <a target="_blank" href="#"></a>
          <span><b style="text-align: center; font-size: 15px">Enlaces de Interés</b>
          <br />
        </span>
      <span><a href="https://www.pj.gov.py/">Corte Suprema de Justicia</a>
      <br />
    </span>
  <span><a href="http://www.mdi.gov.py/">Ministerio del Interior</a>
  <br />
</span>
<span><a href="http://www.mdp.gov.py/">Defensa Pública</a>
<br />
</span>
<span><a href="http://www.ministeriodejusticia.gov.py/">Ministerio de Justicia</a>
<br />
</span>
<span><a href="http://aafp.org.py/">Asociación de Agentes Fiscales/a>
  <br />
</span>
<span><a href="<?php echo url(); ?>/enlaces-">Más >></a>
<br />
</span>
</div>
</div>
</div>
</div>
</div>
</footer>
